<div class="header-title">
  <span class="big-title">
      HoyCMS
  </span>
  <p>网站内容与权限管理系统</p>  
</div>

<mat-nav-list>
  <a mat-list-item routerLink="..." RouterLinkActive="active">
    <mat-icon matListIcon>home</mat-icon>
    <span cass="menu-txt">首页</span>
  </a>
  <a mat-list-item routerLink="" RouterLinkActive="active">
    <mat-icon matListIcon>person</mat-icon>
    <span cass="menu-txt">成员</span>
  </a> 
  <a mat-list-item routerLink="..." RouterLinkActive="active">
    <mat-icon matListIcon>category</mat-icon>
    <span cass="menu-txt">栏目</span>
  </a>
  <a mat-list-item routerLink="..." RouterLinkActive="active">
    <mat-icon matListIcon>star</mat-icon>
    <span cass="menu-txt">推荐位</span>
  </a>
  <a mat-list-item routerLink="..." RouterLinkActive="active">
    <mat-icon matListIcon>file_copy</mat-icon>
    <span cass="menu-txt">静态页</span>
  </a> 
  <a mat-list-item routerLink="/tableIndex" routerLinkActive="active">
    <mat-icon matListIcon>storage</mat-icon>
    <span cass="menu-txt">数据库</span>
  </a>
  <a mat-list-item routerLink="..." RouterLinkActive="active">
    <mat-icon matListIcon>delete</mat-icon>
    <span cass="menu-txt">回收站</span>
  </a>  
</mat-nav-list>
                       