.header-title
    padding 10px
    .big-title
        font-size 2.6rem
        font-family 'impact'
mat-nav-list
    a.mat-list-item        
        mat-icon
            margin-right 10px
            margin-top 2px
        &.active
            background #333