<!--The content below is only a placeholder and can be replaced.-->
<mat-sidenav-container id="app-box" [class.unicorn-dark-theme]="isDark">

  <mat-sidenav opened mode="side" #sidenav>
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content id="content">
    <app-header (toggle)="sidenav.toggle()" (changeTheme)="switchTheme($event)">      
    </app-header>

    <main class="main">
      <router-outlet></router-outlet>           
    </main>
          
  </mat-sidenav-content>

</mat-sidenav-container>
