.app-header    
    justify-content space-between
    align-items center
    .left-title-info
        span 
            vertical-align middle
    .right-member-info
        .member-name
            margin-right 5px
            font-size 1.4rem