.mat-table    
    margin 10px     
    .mat-cell, .mat-header-cell
        padding 0 20px
        text-align center
        border-right-width 1px
        border-right-style solid
    .mat-raised-button
        margin 0 5px
.operates
    text-align center
.mat-fab
    position fixed
    right 2rem
    bottom 4rem